:root {
  --blue: #d3e8f9;
  --grey: #282828;
  --lightGrey: #cccccc;
  --white: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overscroll-behavior: none;
}

#root {
  color: var(--grey);
  background-color: var(--blue);
  min-width: 400px;
  min-height: 100px;
  font-family: Helvetica, Arial, sans-serif;
}

#titleBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  padding: 20px;
}

#titleBar img {
  margin-bottom: 20px;
  height: 60px;
  width: auto;
}

#changeDayContainer {
  align-self: center;
}

.dayBtn:is(button) {
  height: 20px;
  width: 20px;
  background-color: transparent;
  color: var(--white);
}

.dayBtn:is(input) {
  height: 20px;
  border: 1px solid var(--white);
  color: var(--grey);
  font-family: Helvetica, Arial, sans-serif;
}

.dayBtn {
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--grey);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.dayBtn:hover {
  opacity: 0.8;
}

#gameList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 200;
  color: var(--grey);
  padding: 10px;
  min-height: 80px;
}

.gameElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 3px var(--lightGrey);
  border-radius: 4px;
  padding: 5px;
  background-color: var(--white);
}

.teamDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}

.score {
  font-weight: 600;
  font-size: 28px;
}

.teamName {
  font-weight: 300;
}

.teamLogo {
  height: 30px;
  width: auto;
  background-color: transparent;
}

.atDiv {
  font-size: 24px;
  font-weight: 300;
}

.timeInfoDiv {
  min-width: 75px;
}

#loadingImg {
  height: 30px;
  width: auto;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  12.5% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
